body{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
form{
    width: 10cm;
    height: auto;
    background-color: rgb(166, 220, 220);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
}
.form-input{
    width: 90%;
    display: flex;
    flex-direction: column;
    margin-top: .3cm;
    
}
.row{
    flex-direction: row !important;
}
button{
    align-self: flex-start;
    margin: .5cm;
    width: 90%;
    height: .9cm;
    background-color: orange;
    border: none;
    color: white;
    cursor:pointer;
    border-radius: 10px;
}

button:hover{
    background-color: rgb(211, 137, 0);
}




input:not(
    input[type='radio'],
    input[type='checkbox']
){
    height: .8cm;
    border-radius: 7px;
    border: none;
    padding-left: 10px;
    font-size: 16px;
    outline:none ;
}



select{
    padding: 10px;
    font-weight: bold;
}